<select class="hourselect" @bind="Hour">
    @foreach (var hour in HoursRange)
    {
        <option value="@hour" selected="@(Hour == hour)">@hour.ToString().PadLeft(2, '0')</option>
    }
</select>
<span> : </span>
<select class="minuteselect" @bind="Minute">
    @foreach (var minute in Enumerable.Range(0, 60))
    {
        if (minute % Picker.TimePickerIncrement != 0) continue;
        <option value="@minute" selected="@(Minute == minute)">@minute.ToString().PadLeft(2, '0')</option>
    }
</select>

@if (Picker.TimePickerSeconds == true)
{
    <span> : </span>
    <select class="minuteselect" @bind="Second">
        @foreach (var sec in Enumerable.Range(0, 60))
        {
            <option value="@sec" selected="@(Second == sec)">@sec.ToString().PadLeft(2, '0')</option>
        }
    </select>
}

@if (Picker.TimePicker24Hour == false)
{
    <select class="ampmselect" @bind="AmPm">
        <option value="@(AmPmEnum.AM)">AM</option>
        <option value="@(AmPmEnum.PM)">PM</option>
    </select>
}